---
import { getSecret } from 'astro:env/server'

import Layout from '@/layouts/layout.astro'

const response = await fetch(String(getSecret('PORTFOLIO_URL')))
const { list } = await response.json()

type PortfolioItem = {
  url: string
  text: string
  description: string
}

const portfolio: PortfolioItem[] = list.map((item: string) => {
  const [text, url, description] = item.split('\t')
  return {
    url,
    text,
    description,
  }
})
---

<Layout>
  <div
    class='prose p-4 text-cb-white prose-headings:text-cb-white prose-h1:text-center'
  >
    <h1>portfolio</h1>
  </div>
  <ul
    class='grid grid-cols-1 gap-4 px-4 lg:container lg:max-w-3xl lg:grid-cols-2'
  >
    {
      portfolio.map(({ url, text, description }) => (
        <li class='relative rounded-lg bg-cobalt text-cb-white shadow md:hover:bg-cobalt/75'>
          <a
            class='block h-full p-4 md:text-2xl'
            href={url}
            target='_blank'
            rel='noopener noreferrer'
          >
            <span class='flex items-center space-x-2 font-semibold leading-tight'>
              <span class='flex-grow'>{text}</span>
            </span>
            <p>{description}</p>
          </a>
          <a href={`/resume#${text}`} class='absolute right-4 top-4'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 20 20'
              fill='currentColor'
              class='h-6 w-6 text-cb-pink hover:text-cb-pink/75'
            >
              <path
                fill-rule='evenodd'
                d='M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z'
                clip-rule='evenodd'
              />
            </svg>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
