---
import { nav } from '@/lib/common'

const { pathname } = Astro.url
---

<footer class='sticky bottom-0 pb-4'>
  <ul
    class='mx-4 flex items-center divide-x divide-cb-white rounded-lg text-cb-yellow bg-cb-dusty-blue'
  >
    {
      nav.map(({ url, text, Icon }) => (
        <li class='flex-grow'>
          {pathname === url ? (
            <span class='flex w-full justify-center py-2 text-cb-white'>
              <Icon />
              <span class='sr-only'>{text}</span>
            </span>
          ) : (
            <a
              class='flex w-full justify-center py-2 hover:text-cb-pink/75'
              href={url}
            >
              <Icon />
              <span class='sr-only'>{text}</span>
            </a>
          )}
        </li>
      ))
    }
  </ul>
</footer>
